/.idea/.name
/.idea/compiler.xml
/.idea/libraries/Maven__cglib_cglib_nodep_2_1_3.xml
/.idea/libraries/Maven__com_google_code_gson_gson_2_8_5.xml
/.idea/libraries/Maven__com_google_guava_guava_19_0.xml
/.idea/libraries/Maven__com_sun_xml_bind_jaxb_impl_2_4_0_b180830_0438.xml
/.idea/libraries/Maven__commons_codec_commons_codec_1_9.xml
/.idea/libraries/Maven__commons_io_commons_io_2_6.xml
/.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
/.idea/libraries/Maven__io_github_bonigarcia_webdrivermanager_3_7_1.xml
/.idea/libraries/Maven__io_netty_netty_3_5_7_Final.xml
/.idea/libraries/Maven__log4j_log4j_1_2_17.xml
/.idea/libraries/Maven__net_java_dev_jna_jna_4_1_0.xml
/.idea/libraries/Maven__net_java_dev_jna_jna_platform_4_1_0.xml
/.idea/libraries/Maven__org_apache_commons_commons_compress_1_18.xml
/.idea/libraries/Maven__org_apache_commons_commons_exec_1_3.xml
/.idea/libraries/Maven__org_apache_commons_commons_lang3_3_8_1.xml
/.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_5_3.xml
/.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_4_6.xml
/.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_0_0.xml
/.idea/libraries/Maven__org_json_json_20190722.xml
/.idea/libraries/Maven__org_jsoup_jsoup_1_11_3.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_4_2.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_4_2.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_params_5_4_2.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_4_2.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_4_2.xml
/.idea/libraries/Maven__org_opentest4j_opentest4j_1_1_1.xml
/.idea/libraries/Maven__org_rauschig_jarchivelib_1_0_0.xml
/.idea/libraries/Maven__org_seleniumhq_selenium_selenium_api_2_53_0.xml
/.idea/libraries/Maven__org_seleniumhq_selenium_selenium_chrome_driver_2_53_0.xml
/.idea/libraries/Maven__org_seleniumhq_selenium_selenium_edge_driver_2_53_0.xml
/.idea/libraries/Maven__org_seleniumhq_selenium_selenium_firefox_driver_2_53_0.xml
/.idea/libraries/Maven__org_seleniumhq_selenium_selenium_ie_driver_2_53_0.xml
/.idea/libraries/Maven__org_seleniumhq_selenium_selenium_java_2_53_0.xml
/.idea/libraries/Maven__org_seleniumhq_selenium_selenium_leg_rc_2_53_0.xml
/.idea/libraries/Maven__org_seleniumhq_selenium_selenium_remote_driver_2_53_0.xml
/.idea/libraries/Maven__org_seleniumhq_selenium_selenium_safari_driver_2_53_0.xml
/.idea/libraries/Maven__org_seleniumhq_selenium_selenium_support_2_53_0.xml
/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_25.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/.idea/workspace.xml
/taf2019.iml
/target/classes/application.properties
/target/classes/log4j.properties
/target/classes/service/api/RestClient.class
/target/classes/service/Config.class
/target/classes/service/PropReader.class
/target/classes/service/ui/Driver.class
/target/classes/service/ui/WebDriverFactory.class
/target/classes/users.properties
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/test-classes/junit-platform.properties
